

<h2>Find local events near you!</h2>

<form action="/" method="POST">
   <input type="text" name="username" placeholder = "Username">
   <br><br>
   <input type="password" name="password" placeholder = "Password">
   <br><br>
   <button type="submit" id = "loginButton">Log In</button>
   <br>
</form>

<br>

<hr>

<br>

<a href="/auth/signup"><button>Sign Up</button></a>