<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      {{#if _id}}
         <nav>
            <a href="javascript:void(0);"  id = "clickBurger"><img src="/images/hamburger.png" id = "navImg1" alt = "hamburger photo"></a>
            <img id = "navImg2" src="/images/logoRectangleClose.png" alt = "logo">
            <div class = "layoutImageCropper">
               <img id = "navImg3" src={{imageUrl}} alt = "User Image">
            </div>
         </nav>
      {{/if}}
      {{#if this.user._id}}
         <nav>
            <a href="javascript:void(0);"  id = "clickBurger"><img src="/images/hamburger.png" id = "navImg1" alt = "hamburger photo"></a>
            <img id = "navImg2" src="/images/logoRectangleClose.png" alt = "logo">
            <div class = "layoutImageCropper">
               <img id = "navImg3" src={{this.user.imageUrl}} alt = "User Image">
            </div>
         </nav>
      {{/if}}

      <ul id = "hiddenNav">
         <a href="/home"><li>Home</li></a>
         <a href="/home/account"><li>Account</li></a>
         <a href="/home/myEvents"><li>My Events</li></a>
         <a href="/home/upcomingEvents"><li>Upcoming Events</li></a>
         <a href="/auth/logout"><li>Log Out</li></a>
      </ul>

      {{{body}}}

   
      <script src="/js/script.js"></script>

   </body>

</html>