<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <nav>
         <a href="javascript:void(0);"  id = "clickBurger"><img src="/images/hamburger.png" id = "navImg1" alt = "hamburger photo"></a>
         <img id = "navImg2" src="/images/logoRectangleClose.png" alt = "logo">
         <img id = "navImg3" src="/images/noPhoto.png" alt = "logo">
      </nav>

      <ul id = "hiddenNav">
         <li><a href="/home">Home</a></li>
         <li><a href="/home/account">Account</a></li>
         <li><a href="/home/myEvents">My Events</a></li>
         <li><a href="/home/network">Network</a></li>
         <li><a href="/home/upcomingEvents">Upcoming Events</a></li>
         <li><a href="/auth/logout">Log Out</a></li>
      </ul>

      {{{body}}}

   
      <script src="/js/script.js"></script>

   </body>

</html>