<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <nav>
         <a href="javascript:void(0);"  id = "clickBurger"><img src="/images/hamburger.png" id = "navImg1" alt = "hamburger photo"></a>
         <img id = "navImg2" src="/images/logoRectangleClose.png" alt = "logo">
         <div class = "layoutImageCropper">
            {{#if imageUrl}}
            <img id = "navImg3" src={{imageUrl}} alt = "User Image">
            {{/if}}
         </div>
      </nav>

      <ul id = "hiddenNav">
         <a href="/home"><li>Home</li></a>
         <a href="/home/account"><li>Account</li></a>
         <a href="/home/myEvents"><li>My Events</li></a>
         <a href="/home/network"><li>Network</li></a>
         <a href="/home/upcomingEvents"><li>Upcoming Events</li></a>
         <a href="/auth/logout"><li>Log Out</li></a>
      </ul>

      {{{body}}}

   
      <script src="/js/script.js"></script>

   </body>

</html>