body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  z-index: 0;
  width: 100%
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav {
  background-color: #3AC28A;
  position: relative;
  top: 0;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navImg1 {
  padding: 9px 7px 7px 15px;
  height: 25px;
}

#navImg2 {
  padding: 7px;
  height: 35px;
}

.layoutImageCropper {
  width: 35px;
  height: 35px;
  margin: 7px 15px 7px 7px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

#navImg3 {
  display: inline;
  margin: auto;
  height: 100%;
  width: auto; 
}


#hiddenNav {
  display: none;
  background-color: rgb(204, 200, 200);
  position: absolute;
  top: 60px;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
}

#hiddenNav li{
  list-style-type: none;
  height: 50px;
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  color: white;
}

#hiddenNav a {
  text-decoration: none;
}

#hiddenNav li:hover {
  background-color: #ddd;
  color: black;
}

#hiddenNav li a:hover {
  color: black;
}

.imageCropper {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
}

#accountPagePhoto {
  display: inline;
  margin: auto;
  height: 100%;
  width: auto; 
}

#indexMamaDiv {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
}

#indexLeft {
  width: 60%;
  text-align: center;
}

.slideshow-container, #indexLeft h2 {
  width: 80%;
  min-width: 400px;
  position: relative;
  margin: auto 10px auto auto;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#indexRight {
  width: 40%;
  height: 600px;
  text-align: center;
}

#roundLogo {
  width: 225px;
  text-align: center;
  margin: auto auto auto 10px;
}

.indexInput {
  width: 250px;
  height: 30px;
  font-weight: 800;
}

#indexSignUp {
  background-color: darkgray;
}