body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  z-index: 0;
  width: 100%;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/* LAYOUT AND NAV BAR */

nav {
  background-color: #3AC28A;
  position: relative;
  top: 0;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navImg1 {
  padding: 9px 7px 7px 15px;
  height: 25px;
}

#navImg2 {
  padding: 7px;
  height: 35px;
}

.layoutImageCropper {
  width: 35px;
  height: 35px;
  margin: 7px 15px 7px 7px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

#navImg3 {
  display: inline;
  margin: auto;
  height: 100%;
  width: auto; 
}


#hiddenNav {
  display: none;
  background-color: rgb(204, 200, 200);
  position: absolute;
  top: 60px;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 1;
}

#hiddenNav li{
  list-style-type: none;
  height: 50px;
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  color: white;
}

#hiddenNav a {
  text-decoration: none;
}

#hiddenNav li:hover {
  background-color: #ddd;
  color: black;
}

#hiddenNav li a:hover {
  color: black;
}


/* INDEX PAGE */

#indexMamaDiv {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  width:100%;
  min-width: 720px;
}

#indexLeft {
  width: 60%;
  text-align: center;
}

.slideshow-container, #indexLeft h1 {
  width: 80%;
  min-width: 400px;
  position: relative;
  margin: auto 10px auto auto;
}

#indexLeft h1{
  font-size: 30px;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#indexRight {
  width: 40%;
  height: 600px;
  text-align: center;
}

#roundLogo {
  width: 225px;
  text-align: center;
  margin: 10px 20px auto 10px;
}

.indexInput {
  width: 250px;
  height: 30px;
  font-weight: 800;
}

#indexSignUp {
  background-color: darkgray;
}


/*  SIGNUP PAGE  */

#signupMamaDiv {
  display: flex;
  width: 100%;
  min-width: 900px;
  height: 880px;
}

#signupSection1 {
  width: 384px;
  background-image: url(/images/signupBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#signupSection2 {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupInput {
  width: 250px;
  height: 30px;
}

#signupRoundLogo {
  width: 225px;
  position: relative;
  left: 300px;
  top: 30px;
  z-index:-1;
}

#signupH1 {
  font-size: 35px;
  position:relative;
  right: 130px;
  bottom: 170px;
  text-align: center;
}

#signupForm {
  position: relative;
  bottom: 170px;
  right: 120px;
}


/*  ACCOUNT PAGE  */

#accountPageMamaDiv {
  border: 1px solid red;
}

#accountPageSection1 {
  border: 1px solid blue;
  display: flex;
  justify-content: space-evenly;
}

#accountSection1Div1 {
  border: 1px solid orange;
  width: 50%;
}

.imageCropper {
  width: 225px;
  height: 225px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#accountPagePhoto {
  display: inline;
  margin: auto;
  height: 100%;
  width: auto; 
}

#accountSection1Div2 {
  border: 1px solid orange;
  width: 50%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 30px;
}

#accountSection1Div2 h1 {
  font-size: 25px;
  font-weight: 600;
}

#accountPageSection1 {
  border: 1px solid blue;
}

#accountSection2Div1, #accountSection2Div2{
  border: 1px solid orange;
  margin-top: 50px;
  height: 300px;
  font-size: 25px;
  font-weight: 600;
  text-decoration: underline;
}


