<form action="/event/create" method="POST">

   <label> Event name:
      <input type="text" name="name">
   </label>
<br> <br>
   <label> Type:
      <input type="text" name="type">
   </label>
<br> <br>
   <label> Tags:
      <input type="text" name="tags">
   </label>
<br> <br>
   <label> Location:
      <input type="text" name="location">
   </label>
<br> <br>
    <label> Date:
      <input type="text" name="date">
    </label>
<br> <br>
    {{!-- to tickets platform or artist website? both? --}}
    <label> External link:
      <input type="url" name="artistSiteUrl">
    </label>
<br> <br>
    <label> Image:
      <input type="img" name="img">
    </label>
<br> <br>
    <label> Description:
      <input type="text" name="description">
    </label>
<br> <br>
   <button type="submit">Submit</button>
</form>


{{!-- event {
	name:""
	description:""
	type: [ ]
	tags: [ ]
	location: { }
	date: { }
	urlfortickets:
	img:
	owner: /default : TM
	extUrl:
	
}
 --}}