<div class = "imageCropper">
    <img src={{imageUrl}} alt="user photo" id="accountPagePhoto">
</div>
<h2>{{username}}</h2>

<a href="/home/account/edit">Update your account details</a>

<p>{{imageUrl}}</p>