<form action="/home/account/edit" method="POST">

   <label> Username</label>

   <br>

    <input type="text" name="username" placeholder={{username}}>

   <br><br>

   <label> Password </label>

   <br>

    <input type="password" name="password" placeholder="********">

    <br><br>
   
   <label> Email </label>

   <br>

    <input type="email" name="email">

    <br><br>
   
   <label> Cities </label>

   <br>

    <input type="text" name="cities">

    <br><br>
   
    <label> Age </label>

    <br>
    
    <input type="number" name="age">

    <br><br>
   
   <button type="submit">Submit</button>

</form>