<h1>Welcome home!</h1>


{{!-- <p>Example of event: {{eventName}} </p> --}}

<a href="/event/create"><button>Create an Event</button></a>



<h2>Search form:</h2>

<form action="/search" method="GET">
    <input type="text" name="keyword"><br>
    <input type="text" name="city"><br>
    <input type="date" name="date"><br>
    <input type="time" name="time" value="00:00"><br>

    <br>
	<button type="submit">SEARCH</button>
</form>


<h2>{{done}}</h2>

