<h1>Welcome home!</h1>


{{!-- <p>Example of event: {{eventName}} </p> --}}

<a href="/event/create"><button>Create an Event</button></a>



<h2>Search form:</h2>

<form action="/search" method="GET">
    <input type="text" name="keyword" placeholder="keyword(s)" required>*<br>
    <input type="text" name="city" placeholder="city" required>*<br>
    <input type="date" name="date" required>*<br>
    <br>

    <br>
	<button type="submit">SEARCH</button>
</form>


<h2>{{done}}</h2>

