{{!-- <p>Example of event: {{eventName}} </p> --}}
<div id = "homeMamaDiv">
    <section id = "homeSection1">
        <form action="/search" method="GET">
            <input type="text" name="keyword" placeholder="KEYWORDS(s)*" required>
            <input type="text" name="city" placeholder="CITY*" required>
            <input type="date" name="date*" required>
            <button type="submit">SEARCH</button>
        </form>
    </section>

    <section id = "homeSection2">

        <div id = "homeSection2Div1">
            Section 2 Div 1
        </div>

        <div id = "homeSection2Div2">
            Section 2 Div 2
        </div>

    </section>

    <section id = "homeSection3">
        Section 3
    </section>

</div>




